<% if @sessaousuario.errors.has_key? :base %>
    <div id="error_explanation">
        <%= @sessaousuario.errors[:base].join(', ') %>
    </div>
<% end %>

<h1>Login</h1>
<%= form_for @sessaousuario do |s| %>
    <p>
        <%= s.text_field :nome, placeholder: "Usuário" %>
        <br>
        <br>
        <%= s.password_field :password, placeholder: "Senha" %>
    </p>
    <br>
    <p>
        <div class="actions">
            <div class="waves-effect waves-light btn"><%= s.submit "Fazer Login" %></div>
        </div>
    </p>
<% end %>