<script>
  $(document).ready(function() {
      $('select').material_select();
  });
</script>
<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content white-text">
        <%= form_for(@paciente) do |f| %>
          <% if @paciente.errors.any? %>
            <div id="error_explanation">
              <ul>
                <% @paciente.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="input-field labelEsquerda">
            <%= f.text_field :nome, placeholder: "Nome" %>
          </div>
          <div class="input-field labelEsquerda">
            <%= f.text_field :cpf, placeholder: "Cpf" %>
          </div>

          <div class="input-field labelEsquerda">
            <%= f.label :prioridade %><br>
            <%= select(:paciente, :prioridade, [['Normal', 'normal'], ['Idoso', 'idoso'], ['Gestante', 'gestante'], ['Deficiente', 'deficiente'], ['Criança de Colo', 'crianca_de_colo']],
             { include_blank: false }) %>
          </div>

          <div class="input-field labelEsquerda">
            <%= f.text_field :telefone, placeholder: "Telefone" %>
          </div>

          <div class="actions">
            <%= f.submit nil, class:  "waves-effect waves-light btn"%>
            <%= link_to t('links.back'), pacientes_path, class:  "waves-effect waves-light btn" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
