<h1>Lista de Pacientes</h1>
<form method="get" action="pacientes">
	<input type="text" id="datepicke" name="info" placeholder="Nome, CPF" autofocus>
</form>
<div id="padd">
  <%= link_to 'Novo Paciente', new_paciente_path, class:  "waves-effect waves-light btn"  %>
</div>
<% @pacientes.each do |f| %>
<div class="row">
  <div class="col s12">
		<div class="card">
			<div class="card-content white-text">
        <span class="card-title">Paciente: <%= f.nome %></span>
				<table class="striped">
					<thead>
						<tr>
							<th class="center-align">Cpf</th>
							<th class="center-align">Prioridade</th>
							<th class="center-align">Telefone</th>
							<th colspan="3"></th>
						</tr>
						</thead>

						<tbody>
							<tr>
								<td class="center-align"><%= f.cpf %></td>
								<td class="center-align"><%= f.prioridade %></td>
								<td class="center-align"><%= f.telefone %></td>
                <td class="center-align"><%= link_to "Nova Consulta", url_options = { :controller => "consultas",
                   :action => "new", :q => f.cpf}, html_options = { class: "waves-effect waves-light btn"} %></td>
							</tr>
							<tr>
                <td class="center-align"><%= link_to t('links.show'), f, class: "waves-effect waves-light btn"%></td>
								<td class="center-align"><%= link_to t('links.edit'), edit_paciente_path(f), class: "waves-effect waves-light btn"%></td> 
								<td class="center-align"><%= link_to t('links.destroy'), f, method: :delete, 
                      data: { confirm: 'Essa ação apagara todas as consultas que esse usuário estiver! Tem certeza? ' }, 
                      class: "waves-effect waves-light btn"%></td>
                      class:  "waves-effect waves-light btn" %></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
</div>
<% end %>

<%= paginate @pacientes %>