<div class="row">
  <div class="col s12">
        <h1>Paciente</h1>
		<div class="card">
			<div class="card-content white-text">
        		<span class="card-title"><%= @paciente.nome %></span>
				<table class="striped">
					<thead>
						<tr>
							<th>Cpf</th>
							<th>Prioridade</th>
							<th>Telefone</th>
						</tr>
						</thead>

						<tbody>
							<tr>
								<td><%= @paciente.cpf %></td>
								<td><%= @paciente.prioridade %></td>
								<td><%= @paciente.telefone %></td>
                                <td><%= link_to "Nova Consulta", url_options = { :controller => "consultas",
                                    :action => "new", :q => @paciente.cpf}, html_options = { class: "waves-effect waves-light btn"}%></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
</div>

<%= link_to t('links.edit'), edit_paciente_path(@paciente), class: "waves-effect waves-light btn"%>
<%= link_to t('links.back'), pacientes_path, class: "waves-effect waves-light btn"%>