
<br> 
<h5>Consultas dia <%= @data %></h5>

<ul>
	<% @consultas.each do |f| %>
	<li class=""">
		<div class="row">
			<div class="col s12">
				<% if f[:status] == "espera" %>
				<div class="card" id="cardEspera">
					<div class="card-content white-text">
						<table class="striped">
							<thead>
								<% if f[:paciente_nome] != "Anônimo" %>
									<span><%= f[:posicao] %> - <%= f[:paciente_nome] %> <p> <b style="color: #26a69a; opacity: 0.9">Inicio: <%= f[:inicio] %>
									<p> Em Espera </b>
								<% else %>
									<span><%= f[:posicao] %> - <%= f[:paciente_nome] %>
									<p> <b style="color: #26a69a; opacity: 0.5"> Em Espera </b>
								<% end %>
								</span>
							</thead>
						</table>
					</div>
				</div>
				<% else %>
					<div class="card" id="cardAtendimento">
					<div class="card-content white-text">
						<table class="striped">
							<thead>
								<span><%= f[:posicao] %> - <%= f[:paciente_nome] %>
									<p> <b style="color: #26a69a; opacity: 0.5"> Atendimento </b>
								</span>
							</thead>
						</table>
					</div>
				</div>
				<% end %>
			</div>
		</div>
	</li>
	<% end %>
</ul>