<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content white-text">
        <%= form_for(@prioridade) do |f| %>
          <% if @prioridade.errors.any? %>
            <div id="error_explanation">
              <ul>
                <% @prioridade.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="input-field labelEsquerda">
            <%= f.text_field :nome, placeholder: "Nome" %>
          </div>
          <div class="actions">
            <div class="waves-effect waves-light btn"><%= f.submit %></div>
            <%= link_to t('links.back'), prioridades_path, class:  "waves-effect waves-light btn"  %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>