
<h1>Prioridades</h1>
<%= link_to 'Nova Prioridade', new_prioridade_path, class:  "waves-effect waves-light btn"  %>
<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content white-text">
        <table class="striped">
          <thead>
            <tr>
              <th>Nome</th>
            </tr>
          </thead>
          <tbody >  
            <% @prioridades.each do |prioridade| %>
            <tr>
              <td ><%= prioridade.nome %></td>
              <td><%= link_to t('links.show'), prioridade, class:  "waves-effect waves-light btn"  %></td>
              <td><%= link_to t('links.edit'), edit_prioridade_path(prioridade), class:  "waves-effect waves-light btn"  %></td>
              <td><%= link_to t('links.destroy'), prioridade, method: :delete, data: { confirm: 'Você tem certeza?' }, class:  "waves-effect waves-light btn"  %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>