<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content white-text">
        <table class="striped">
          <thead>
            <tr>
              <th>Nome</th>
            </tr>
          </thead>
          <tbody >  
            <tr>
              <td ><%= @prioridade.nome %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%= link_to t('links.edit'), edit_prioridade_path(@prioridade), class: "waves-effect waves-light btn"%>
<%= link_to t('links.back'), prioridades_path, class: "waves-effect waves-light btn"%>
