<%= form_for(@lista_consulta) do |f| %>
  <% if @lista_consulta.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lista_consulta.errors.count, "error") %> prohibited this lista_consulta from being saved:</h2>

      <ul>
      <% @lista_consulta.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dia %><br>
    <%= f.date_select :dia %>
  </div>
  <div class="actions">
    <%= f.submit %>	
  </div>
<% end %>
