<h1>Consultas do dia: <%= @data.strftime("%d/%m/%Y") %></h1>

<script>
	$(document).ready(function() {
		$('select').material_select();
	});

	$(function () {
		$('.datepicker').pickadate({
			selectMonths: true, // Creates a dropdown to control month
		   	selectYears: 15, // Creates a dropdown of 15 years to control year
		   	labelMonthNext: 'Próximo Mês',
		   	labelMonthPrev: 'Mês Anterior',
		   	labelMonthSelect: 'Selecione um mês',
		   	labelYearSelect: 'Selecione um ano',
		   	monthsFull: [ 'Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro' ],
		   	monthsShort: [ 'Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez' ],
		   	weekdaysFull: [ 'Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado' ],
		   	weekdaysShort: [ 'Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab' ],
		   	weekdaysLetter: [ 'D', 'S', 'T', 'Q', 'Q', 'S', 'S' ],
		   	today: 'Hoje',
		   	clear: 'Limpar',
		   	close: 'Fechar',
		   	format: 'yyyy-mm-dd'
		});
	});

</script>

<form method="get" action="lista_consultas">
	<i class="fa fa-calendar" aria-hidden="true"></i><input type="text" id="datepicke"  class="datepicker" name="date" placeholder="Selecione uma data" required>
	<input type="submit" value="Enviar" class="waves-effect waves-light btn">
</form>

<div class="row" style="padding-top: 30px;" >
	<div class="col s12">
		<div class="card">
			<table class="striped">
				<thead>
					<tr>
						<th class="center-align">Total</th>
						<th class="center-align">Espera</th>
						<th class="center-align">Atendido</th>
						<th class="center-align">Cancelado</th>
						<th class="center-align">Dia</th>
					</tr>
				</thead>
				<tbody>
					<tr>
					<td class="center-align"><%= @total %></td>
					<td class="center-align"><%= @espera.size %></td>
					<td class="center-align"><%= @atendido.size%></td>
					<td class="center-align"><%= @cancelado.size %> </td>
					<td class="center-align"><%= @data.strftime("%d/%m/%Y") %></td>					
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<% if @atendimento != nil %>
	<h2>Atendimento</h2>
	<div class="row">
		<div class="col s12">
			<div class="card" id="cardAtendimento">
				<div class="card-content white-text">
					<table class="striped">
						<thead>
							<span class="center-align"><%= @count %>º Paciente: <%= @atendimento.paciente_nome %></span>
							<tr>
								<th class="center-align">Status</th>
								<th class="center-align">Tipo da Consulta</th>
								<th class="center-align">Inicio</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td class="center-align"><%= @atendimento.status %></td>
								<td class="center-align"><%= @atendimento.tipo_consulta %></td>
								<td class="center-align"><%= @atendimento.inicio.strftime("%H:%M") %></td>
								<td class="center-align"><%= link_to 'Mais', @atendimento, class: "waves-effect waves-light btn"%></td>
							</tr>
					</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<% @count = @count + 1 %>
<% end %>

<% if @espera.size > 0 %>
	<h2>Espera</h2>
		<% @espera.each do |c| %><div class="row">
		<div class="col s12">
			<div class="card" id="cardEspera">
				<div class="card-content white-text">
					<table class="striped">
						<thead>
							<span class="center-align"><%= @count %>º Paciente: <%= c.paciente_nome %></span>
							<tr>
								<th class="center-align">Status</th>
								<th class="center-align">Tipo da Consulta</th>
								<th class="center-align">Inicio</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td class="center-align"><%= c.status %></td>
								<td class="center-align"><%= c.tipo_consulta %></td>
								<td class="center-align"><%= c.inicio.strftime("%H:%M") %></td>
								<td class="center-align"><%= link_to 'Mais', c, class: "waves-effect waves-light btn"%></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<% @count = @count + 1 %>
	<% end %>
<% end %>

<% if @atendido.size > 0 %>
	<h2>Atendido</h2>
	<% @atendido.each do |c| %>
	<div class="row">
		<div class="col s12">
			<div class="card" id="cardAtendido">
				<div class="card-content white-text">					
					<table class="striped">
						<thead>
							<span class="center-align">Paciente: <%= c.paciente_nome %></span>
							<tr>
								<th class="center-align">Status</th>
								<th class="center-align">Tipo da Consulta</th>
								<th class="center-align">Inicio</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td class="center-align"><%= c.status %></td>
								<td class="center-align"><%= c.tipo_consulta %></td>
								<td class="center-align"><%= c.inicio.strftime("%H:%M") %></td>
								<td class="center-align"><%= link_to 'Mais', c, class: "waves-effect waves-light btn"%></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<% end %>
<% end %>

<% if @cancelado.size > 0 %>
	<h2>Cancelado</h2>
	<% @cancelado.each do |c| %>
	<div class="row">
		<div class="col s12">
			<div class="card" id="cardCancelado">
				<div class="card-content white-text">					
					<table class="striped">
						<thead>
							<span class="center-align">Paciente: <%= c.paciente_nome %></span>
							<tr>
								<th class="center-align">Status</th>
								<th class="center-align">Tipo da Consulta</th>
								<th class="center-align">Inicio</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td class="center-align"><%= c.status %></td>
								<td class="center-align"><%= c.tipo_consulta %></td>
								<td class="center-align"><%= c.inicio.strftime("%H:%M") %></td>
								<td class="center-align"><%= link_to 'Mais', c, class: "waves-effect waves-light btn"%></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<% end %>
<% end %>