<script>
  $(document).ready(function() {
      $('select').material_select();
  });
</script>
<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content white-text">
        <%= form_for(@tipo_consulta) do |f| %>
          <% if @tipo_consulta.errors.any? %>
            <div id="error_explanation">
              <ul>
                <% @tipo_consulta.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="input-field labelEsquerda">
            <%= f.text_field :nome, placeholder: "Nome" %>
          </div>
          <div class="input-field labelEsquerda" id="time">
            <%= f.label :duracao %><br>
            <%= f.time_select :duracao, :time_separator => "" %>
          </div>
          <div class="actions">
            <div class="waves-effect waves-light btn"> <%= f.submit %> </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>