<h1>Editando Tipo de Consulta</h1>

<%= render 'form' %>

<%= link_to t('links.show'), @tipo_consulta, class:  "waves-effect waves-light btn"  %>
<%= link_to t('links.back'), tipo_consultas_path, class:  "waves-effect waves-light btn"  %>
