<h1>Tipos de Consultas</h1>

<div class="waves-effect waves-light btn"><%= link_to 'Novo Tipo de consulta', new_tipo_consulta_path %></div>
<div class="row">
	<div class="col s12">
		<div class="card">
			<div class="card-content white-text">
				<table class="striped">
					<thead>
						<tr>
							<th>Nome</th>
							<th>Duracao</th>
						</tr>
					</thead>
					<tbody>
						<% @tipo_consultas.each do |tipo_consulta| %>
						<tr>
							<td><%= tipo_consulta.nome %></td>
							<td><%= tipo_consulta.duracao.strftime("%H:%M") %></td>
							<td><%= link_to t('links.show'), tipo_consulta, class: "waves-effect waves-light btn"%></td>
							<td><%= link_to t('links.edit'), edit_tipo_consulta_path(tipo_consulta), class: "waves-effect waves-light btn"%></td>
							<td><%= link_to t('links.destroy'), tipo_consulta, method: :delete, data: { confirm: 'Você tem certeza?' }, class: "waves-effect waves-light btn"%></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>