<div class="row">
	<div class="col s12">
		<div class="card">
			<div class="card-content white-text">
				<table class="striped">
					<thead>
						<tr>
							<th>Nome</th>
							<th>Duracao</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><%= @tipo_consulta.nome %></td>
							<td><%= @tipo_consulta.duracao.strftime("%H:%M") %></td>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<%= link_to t('links.edit'), edit_tipo_consulta_path(@tipo_consulta), class:  "waves-effect waves-light btn"  %>
<%= link_to t('links.back'), tipo_consultas_path, class:  "waves-effect waves-light btn"  %>
