<script>
  $(document).ready(function() {
      $('select').material_select();
  });
</script>
<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content white-text">
        <%= form_for(@usuario) do |f| %>
          <% if @usuario.errors.any? %>
            <div id="error_explanation">
              <ul>
                <% @usuario.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="input-field labelEsquerda">
            <%= f.text_field :nome, placeholder: "Nome"%>
          </div>
          <div class="input-field labelEsquerda">
            <%= f.password_field :password, placeholder: "Senha" %>
          </div>
          <div class="input-field labelEsquerda">
            <%= f.label :nivel %><br>
            <%= select(:usuario, :nivel, [['Medico', 'medico'], ['Auxiliar', 'auxiliar']]) %>
          </div>
          <div class="actions">
            <%= f.submit nil, class: "waves-effect waves-light btn"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>