<h1>Editando Usuario</h1>

<%= render 'form' %>

<%= link_to t('links.show'), @usuario, class:  "waves-effect waves-light btn" %>
<%= link_to t('links.back'), usuarios_path, class:  "waves-effect waves-light btn"%>