<h1>Lista de Usuários</h1>
<%= link_to 'Novo Usuário', new_usuario_path, class:  "waves-effect waves-light btn" %>

<div class="row">
  <div class="col s12">
		<div class="card">
			<div class="card-content white-text">
        <table class="striped">
          <thead>
            <tr>
              <th class="center-align">Nome</th>
              <th class="center-align">Nivel</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @usuarios.each do |usuario| %>
              <tr>
                <td class="center-align"><%= usuario.nome %></td>
                <td class="center-align"><%= usuario.nivel %></td>
                <td class="center-align"><%= link_to t('links.show'), usuario, class:  "waves-effect waves-light btn" %></td>
                <td class="center-align"><%= link_to t('links.edit'), edit_usuario_path(usuario), class:  "waves-effect waves-light btn" %></td>
                <td class="center-align"><%= link_to t('links.destroy'), usuario, class:  "waves-effect waves-light btn", method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>