<div class="row">
  <div class="col s12">
    <h1>Usuário</h1>
    <div class="card">
        <div class="card-content white-text">
            <table class="striped">
              <thead>
              <tr>
                <th>Nome</th>
                <th>Nivel</th>
              </tr>
              </thead>

						  <tbody>
							  <tr>
								  <td><%= @usuario.nome %></td>
								  <td><%= @usuario.nivel %></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
</div>

<%= link_to t('links.edit'), edit_usuario_path(@usuario), class: "waves-effect waves-light btn" %>
<%= link_to t('links.back'), usuarios_path, class: "waves-effect waves-light btn" %>