<link rel="stylesheet" href="/app/assets/stylesheets/btn.responsive.css">
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.min.js' %>
    <script type="text/javascript" charset="utf-8"> 
        $('.js_cpf').mask('999.999.999-99');
    </script>

    <% if @sessaopaciente.errors.has_key? :base %>
        <div id="error_explanation">
            <%= @sessaopaciente.errors[:base].join(', ') %>
        </div>
        <% end %>

            <div class="card" style="position:relative;top:100px;height:200px;">
                <div class="card-body">
                    <div class="container" style="position:relative; top:20px; ">
                        <h1>Entrar</h1>

                        <%= form_for @sessaopaciente do |s| %>
                            <% if (!(paciente_logado?)) %>
                                
                                    <%= s.text_field :cpf, placeholder: "CPF", class: "js_cpf" %>
                                        <br>
                                        <br>
                                        
                                            <div class="actions">
                                                
                                                    <%= s.submit "Entrar",class:"  btn  btn-small"   %>
                                                
                                            </div>
                                        
                                        <% end %>
                                            <% end %>
                    </div>
                </div>
            </div>