body {
  /*background-color: #fafafa;*/
  background-color: #eee;
  font-family: 'Open-sans', sans-serif;
  font-style: light;
  width:100%;
  height: 100%;
  text-align: center;
  font-size: 16px !important;
}

.container{
  strong{
     float: left;
  }
  margin-bottom: 1rem;
}

label{
  color: #757575 !important;
}

table{
    color: #26a69a;
    .btn{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

li .btn{
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    a{
        font-size: 1.2rem !important;
    }
}


.card_evidente {
  background-color: yellow;
}

.card
{
    background-color: #fff;

    span{
        font-size: 1.2rem !important;
        color: #757575;
    }
}

#cardEspera {
    border-left-style: solid;
    border-left-width: 5px;
    border-color: #ffa719;        
}

#cardAtendimento {
    border-left-style: solid;
    border-left-width: 5px;
    border-color: #00bf28;  
}

#cardAtendido {
    border-left-style: solid;
    border-left-width: 5px;
    border-color: #747474;
}

.atendido {
  font-weight: 300;
  padding: 0px 16px;
  margin-bottom: 10px;
  border-left-style: solid;
  border-left-width: 5px;
  border-color: #747474;
}

#cardCancelado {
    border-left-style: solid;
    border-left-width: 5px;
    border-color: red;
}

.waves input{
        color: #FFF !important;
    }

.hora{
    width: 100%;
}

.labelEsquerda{
    text-align: start;
    label{
        margin-top: -8px;
    }
    .select-wrapper{
        display: inline-flex;
        width: 30%;
        margin-top: 1rem;
    }
    .select-dropdown{
        margin-top: 5px;
        text-align: center;
    }
}

.input-field{
    color: #000;
    input{
        margin-bottom: 0px;
    }
}

.header strong{
    font-size: 40px;
    color: #26a69a;
}

.header img {
  margin-right: 20px;
  width: 160px;
  height: auto;
  float: right;

}

.row#inicio{
    padding-top: 0px;
    text-align: center;
    height: 100%;
    h1,h2,h3{
     color: #757575;
    }
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 20px;
    }
    a{
    color: #FFF;
    }
}

//----------- NavBar
nav {
    background-color: #26a69a !important;
    font-size: 20px !important;
}

#logoNav {
    position: static !important;
}

.nav-w {
    background-color: #26a69a;
    position: fixed;
    height: 10%;
    width: 100%;
    z-index: 2;

    #linkNav{
        padding-left: 10em
    }

    img {
        margin-top: 0.2em;
        margin-left: 0.2em;
    }
}

#iconNav {
    margin-top: 20%; 
    padding-top: 25%; 
    padding-left: 20%;
}

.col.s3 a{
    display: block;
    width: 100%;
    height: 100%;
    color: #FFF;
    font-size: large;
}

.col.s3 li{
    padding: 15px 0 15px 0;
    display: block;
    width: 100%;
    height: 100%;
}

.preencher{
    height: 100%;
}

#notice {
    color: #468847;
    border: 1px solid #468847;
    padding: 3px;
//  @extend .padded_flash;
    background-color: #DFF0D8;
}

#alert {
    color: #B94A48;
    border: 1px solid #B94A48;
    margin-top: 3px;
    padding: 3px;
//  @extend .padded_flash;
    background-color: #F2DEDE;
}

#error_explanation {
    color: #B94A48;
    border: 1px solid #B94A48;
    margin-top: 3px;
    padding: 3px;
    background-color: #F2DEDE;
//  @extend .padded_flash;
}

#padd{
    margin-top: 10px;
    margin-bottom: 10px;
}

label{
    font-size: 15px !important;
    text-align: left !important;
}

//-----DATEPICKER

//-----------PLACEHOLDER
input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #757575;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #757575;
   opacity:  1;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #757575;
   opacity:  1;
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #757575;
}


.pagination a{
  color: #757575 !important;
}

.box2 {
  display: inline-block;
  width: 300px;
  height: 100px;
  margin: 1em;
  box-shadow:0 1px green;
  border-radius: 15px
}