<%= form_for consultas_path, method: :get, class: 'search' do |q| %>
    <%= text_field_tag :q, params[:q], placeholder: "Buscar Paciente", autofocus: true %>
    <%= q.submit "Buscar", :class => 'waves-effect waves-light btn' %><br>
<% end %>