<script>
	$(document).ready(function() {
	    $('select').material_select();
	  });
</script>

<%= render 'buscaPaciente' %>

<div class="row">
	<div class="col s12">
		<div class="card">
			<div class="card-content white-text">
				<%= form_for(@consulta) do |f| %>
					<% if @consulta.errors.any? %>
						<div id="error_explanation">
							<ul>
								<% @consulta.errors.full_messages.each do |message| %>
									<li><%= message %></li>
								<% end %>
							</ul>
						</div>
					<% end %>

					<div class="input-field">
						<%= f.text_field :paciente_nome, placeholder: "Nome do Paciente" %>
					</div>

					<div class="input-field labelEsquerda" id="time">
						<%= f.label :inicio  %>
						<%= f.time_select :inicio, :time_separator => "" %>
					</div>

					<div class="input-field labelEsquerda">
						<%= f.label :data %>
						<%= f.date_select :data %>
					</div>

	  				<div class="input-field labelEsquerda">
						<%= f.label :tipo_da_consulta %>
		 				<%= select("tipo_consulta", "tipo_consulta_id", TipoConsulta.all.collect {|p| [ p.nome, p.id ] }, { include_blank: false }) %>
	  				</div>

	  				<div class="actions">
						<%= f.submit nil, class: "waves-effect waves-light btn" %>
	 				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>