<h1>Editando Consulta</h1>

<%= render 'form' %>

<%= link_to t('links.show'), @consulta, class:  "waves-effect waves-light btn" %>
<%= link_to t('links.back'), consultas_path, class:  "waves-effect waves-light btn" %>
