<h1>Lista de Consultas</h1>
<form method="get" action="consultas">
	<input type="text" id="datepicke" name="info" placeholder="Nome, CPF" autofocus>
</form>
<div id="padd">
    <%= link_to 'Nova Consulta', new_consulta_path, class:  "waves-effect waves-light btn"%>
    <%= link_to 'Novo Tipo de Consulta', new_tipo_consulta_path, class:  "waves-effect waves-light btn" %>
</div>

<% @consultas.each do |c| %><div class="row">
	<div class="col s12">
		<div class="card">
			<div class="card-content white-text">
				<table class="striped">
					<thead>
						<span>Paciente: <%= c.paciente_nome %></span>
						<tr>
							<th>Data</th>
							<th>Inicio</th>
							<th>Fim</th>
							<th>Duração</th>
							<th>Tipo da Consulta</th>
						</tr>
						</thead>

						<tbody>
							<tr>
								<td><%= c.data.strftime("%d/%m/%Y") %></td>
								<td><%= c.inicio.strftime("%H:%M") %></td>
								<td><%= c.fim.strftime("%H:%M") %></td>
								<td><%= c.duracao.strftime("%H:%M") %></td>
								<td><%= c.tipo_consulta %></td>
							</tr>
							<tr>
								<td><%= link_to t('links.show'), c, class:  "waves-effect waves-light btn"%></td> 
								<td><%= link_to t('links.edit'), edit_consulta_path(c), class:  "waves-effect waves-light btn"%></td>  
								<td><%= link_to t('links.destroy'), c, method: :delete,  data: { confirm: 'Você tem certeza?' }, 
								class:  "waves-effect waves-light btn" %></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
<% end %>
<%= paginate @consultas %>