<div class="col s12">
	<div class="card">
		<div class="card-content white-text">
			<span class="card-title">Paciente: <%= @consulta.paciente_nome %> </span>
			<table class="striped">
				<thead>
				<tr>
					<th>Data</th>
					<th>Tipo da Consulta</th>
        		    <th>Inicio</th>
            		<th>Fim</th>
              		<th>Duração</th>
				</tr>
				</thead>

				<tbody>
					<tr>
						<td><%= @consulta.data %></td>
						<td><%= @consulta.tipo_consulta %></td>
						<td><%= @consulta.inicio.strftime("%H:%M")%></td>
						<td><%= @consulta.fim.strftime("%H:%M")%></td>
						<td><%= @consulta.duracao.strftime("%H:%M")%></td>
					</tr>
					<tr>
						<td><%= link_to 'Editar', edit_consulta_path(@consulta), class: "waves-effect waves-light btn" %></td> 
						<td><%= link_to 'Consultas', consultas_path, class:  "waves-effect waves-light btn" %></td>
						<% if @consulta.status == "espera" %>  
							<td><%= link_to 'Desmarcar', {:controller => "consultas", :action => "desmarcar", :consulta => @consulta},
							 data: { confirm: 'Você tem certeza?'}, class: "waves-effect waves-light btn"%></td>
						<% end %>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<%= link_to 'Lista de Consultas', lista_consultas_path, class:  "waves-effect waves-light btn" %>
