<li title="Sair"><%= link_to '<i class="fa fa-sign-out" aria-hidden="true" id="iconNav"></i>'.html_safe, 
              sessao_paciente_path(paciente_atual.id), class: "brand-logo right", method: :delete %></li>
<li title="Atualizar"><%= link_to '<i class="fa fa-refresh" aria-hidden="true" id="iconNav"></i>'.html_safe, atualizar, class: "brand-logo right", style: 'margin-right: 14%;' %></li>
