<% if current_page?(:controller => 'lista_consultas', :action => 'atendimento') %>
<div class="hoverable"><li><%= link_to "Atendimento", atendimento_path %></li>
  <% end %>
  <% if request.path.include? "pacientes" or request.path.include? "prioridades" or request.path.include? "lista_consultas" or request.path.include? "consultas"%>
  <li><%= link_to "Lista De Consultas", lista_consultas_path %></li>
  <li> <%= link_to "Pacientes", pacientes_path %></li>
  <li> <%= link_to "Consultas", consultas_path %></li>
  <% end %>
  <% if request.path.include? "usuarios" %>
  <% if usuario_atual.nivel == "auxiliar" %>
  <li><%= link_to "Lista De Consultas", lista_consultas_path %></li>
  <% else %>
  <li><%= link_to "Atendimento", atendimento_path %></li>
  <% end %>
  <% end %>
  <li title="Perfil"><%= link_to '<i class="fa fa-user" aria-hidden="true" id="iconNav"></i>'.html_safe, usuario_path(usuario_atual.id), 
    class: "brand-logo right", style: 'margin-right: 4%;' %></li>
    <li title="Sair"><%= link_to '<i class="fa fa-sign-out" aria-hidden="true" id="iconNav"></i>'.html_safe, 
      sessao_usuario_path(usuario_atual.id), class: "brand-logo right", method: :delete %></li>  