<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
 <title>Ortodontia - Estetica </title>
 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 <%= csrf_meta_tags %>
 <link rel="stylesheet" href="/vendor/assets/stylesheets/btn.responsive.css">
</head>
<body>
  <div class="row" id="inicio">
    <nav>
      <div class="nav-w">      
        <ul>
         
          <div id="linkNav">
            <% if logado? %>
                <%= render 'layouts/user_navbar' %>    
            <% elsif paciente_logado? %>
                <%= render 'layouts/paciente_navbar' %>
            <%end%>
          </div>
        </ul>
      </div>
    </nav>
    <div class="col s6 offset-s3">
      <div>
        <div>
          <% if notice.present? %>
            <p id="notice"><%= notice %> </p>
          <% end %>
          <% if alert.present? %>
           <p id="alert"><%= alert %> </p>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  <% if logado? && usuario_atual.nivel == 'auxiliar' %>
    <div class="fixed-action-btn">
      <a class="btn-floating btn-large">
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </a>
      <ul>
        <li><%= link_to '<i class="fa fa-home" aria-hidden="true" title="Lista de Consultas"></i>'.html_safe,
        lista_consultas_path, class: "btn-floating yellow darken-1" %></li>
        <li><%= link_to '<i class="fa fa-user-md" aria-hidden="true" title="Consultas"></i>'.html_safe,
        consultas_path, class: "btn-floating blue" %></li>
        <li><%= link_to '<i class="fa fa-user-circle" aria-hidden="true" title="Paciente"></i>'.html_safe,
        pacientes_path, class: "btn-floating green" %></li>
        <li><%= link_to '<i class="fa fa-user-plus" aria-hidden="true" title="Novo Paciente"></i>'.html_safe,
        new_paciente_path, class: "btn-floating red" %></li>
      </ul>
    </div>
  <% end %>
</body>
</html>